<h1>Search Results for </h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= image_tag(store.image_url) %></td>
        <td><strong><%= store.title %></strong></td>
        <td><%= store.description %></td>
        <td><%= store.address %></td>
        <td><%= link_to 'Select', store %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
     </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? %>
<%= link_to 'New Store', new_store_path %>
<% end %>
