<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= image_tag(@store.image_url) %>
</p>


<p>
  <strong><%= @store.title %></strong>
</p>

<p>
  <strong></strong>
  <%= @store.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<br />
  <tbody>
    <h3>Products</h3>
    <% @store.products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td>$<%= product.price %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><%= link_to 'Select', store_product_path(@store, product) %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_store_product_path(@store, product) %></td>
        <td><%= link_to 'Destroy', [@store, product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  
    </tr>
   <% end %> 
   </tbody>
  </table>
<%= link_to 'Shoes', store_shoes_path(@store) %>
 <% if admin_signed_in? %>
<div>
  <%= link_to 'Add New Product', new_store_product_path(@store) %>
</div>
<% end %>
