<div class="row">
<div class="span6">
<p>
  <strong></strong>
  <%= image_tag(@store.image_url) %>
</p>


<p>
  <strong><%= @store.title %></strong>
</p>

<p>
  <strong></strong>
  <%= @store.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>
</div>
<div class="span6">
<h3>Photo of GLR store and employees</h3>
</div>
</div>
 
<ul class="thumbnails">
  <li class="span3">
   <a href="1/shoes" class="thumbnail">
    <%= image_tag("saucony.png", size: "150x113") %>
    <h3>Shoes</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span3">
   <a href="1/shoes" class="thumbnail">
    <%= image_tag("saucony.png", size: "150x113") %>
    <h3>Outerwear</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span3">
   <a href="1/shoes" class="thumbnail">
    <%= image_tag("saucony.png", size: "150x113") %>
    <h3>Baselayers</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
<li class="span3">
   <a href="1/shoes" class="thumbnail">
    <%= image_tag("saucony.png", size: "150x113") %>
    <h3>Accessories</h3>
    <p>Thumbnail caption...</p>
    </a>
  </li>
</ul>

<% if store_admin_signed_in? %>
    Signed in as <%= current_store_admin.email %>. 
    <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %> | <%=link_to "Edit Store", edit_store_path(@store) %> 
    <% end %>

<br>

<% if admin_signed_in? %>
   <%= link_to 'Delete This Store', [@store], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
 
