<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= image_tag(@store.image_url) %>
</p>


<p>
  <strong><%= @store.title %></strong>
</p>

<p>
  <strong></strong>
  <%= @store.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>


<p>
<%= link_to 'Browse Products', store_products_path(@store), class: "btn btn-large btn-block btn-primary" %>
</p>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %> |
