<h1>Your Local Marketplace</h1>
<br>
<table class="table">
  <thead></thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= image_tag(store.image_url) %></td>
        <td><%= store.title %></td>
        <td><%= store.description %></td>
        <td><%= store.address %></td>
        <td><%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
