<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- START_HIGHLIGHT -->
<h2>Your Cart</h2>
<table class="table">
<!-- END_HIGHLIGHT -->
  <% @cart.line_items.each do |item| %>
<!-- START_HIGHLIGHT -->
    <tr>
      <td><%= image_tag(item.shoe.image_url) %></td>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.shoe.title %></td>
      <td><%= number_to_currency(item.total_price) %></td>
    </tr>
<!-- END_HIGHLIGHT -->
  <% end %>

<!-- START_HIGHLIGHT -->
  <tr>
    <td>Total</td>
    <td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
  </tr>
<!-- END_HIGHLIGHT -->

<!-- START_HIGHLIGHT -->
</table>
<!-- END_HIGHLIGHT -->
<br>
<p><strong>Buy now with PayPal</strong><p/><%= link_to image_tag("https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif"), @cart.paypal_url(root_url) %>
<p>Clicking the "Buy Now" button will take you to PayPal's site where you can complete your purchase.</p>
<br>

<br>
<%= button_to 'Empty cart', @cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>
<%= link_to "Back", store_path(params[:id]), method: :get %>

