<!--Crib this markup from the simplified Location show view
<blockquote class="hero-unit">
  <div>
    <h3><%= @store.title %></h3>
    <small>
      <%= image_tag(@store.image_url) %>
    </small>
    </div>-->

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= @store.title %> Products</h1>

<% cache ['store', Product.latest] do %>
  <% @store.products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
          <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
<!-- END_HIGHLIGHT -->
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

