<p id="notice"><%= notice %></p>

<p>
 <strong><%= @shoe.title %></strong>
</p>

<p>
 <%= @shoe.description %>
</p>

<p>
 <%= image_tag(@shoe.image_url) %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @shoe.price %>
</p>

<p>
  <strong>Mens or Womens:</strong>
  <%= @shoe.sex %>
</p>

<p>
  <strong>Store:</strong>
  <%= @store.title %>
</p>

<%= button_to 'Add to Cart', line_items_path(shoe_id: @shoe)%>
