<div class="row">
<div class="span6">

<p>
 <%= @shoe.description %>
</p>

</div>
<div class="span6">
<p>
 <%= image_tag(@shoe.image_url) %>
</p>
<p>
 <strong><%= @shoe.title %></strong>
</p>
<p>
  <strong>Price:</strong>
  $<%= @shoe.price %>
</p>

<p>
  <strong>Store:</strong>
  <%= @store.title %>
</p>
</div>
</div>

<%= button_to 'Add to Cart', line_items_path(shoe_id: @shoe)%>


