<div class="row">
<div class="span6">

<p>
 <%= @shoe.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @shoe.price %>
</p>

<p>
  <strong>Store:</strong>
  <%= @store.title %>
</p>
</div>
<div class="span6">
<p>
 <%= image_tag(@shoe.image_url) %>
</p>
<p>
 <strong><%= @shoe.title %></strong>
</p>
</div>
</div>

<%= form_for([@store, @shoe]) do |f| %>  

  
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.select :sex, [['mens', 1], ['womens', 2]] %>
  </div>

  <% end %>


<%= button_to 'Add to Cart', line_items_path(shoe_id: @shoe)%>
