<!DOCTYPE html>
<html>
<head>
  <title>Ebrickandmortar</title>
  <meta charset="utf-8"> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>Ebrickandmortar <small>Shop locally on the web</small></h1>
  </div>  
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
          <li><%= link_to "Home", root_url %></li> 
          <li class="active"><%= link_to "Shop", shop_index_path %></li>
   
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
      <li><%= form_tag stores_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>
  </p>
  <% end %></li>
    </ul>
    </div>
  </div>

<%= yield %>

</div>
</body>
</html>
